<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {%load static%}
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{%static 'app1/white_apple_logo3.jpg'%}" width="40" height="30" class="d-inline-block align-top" alt=""> Apple Products Purchase Prediction
        </a>
    </nav>
    <br><br><br>


    <h1 align="middle" style="color: #6669f0;">iPhone Purchase Prediction</h1>
    <div>
        <h2 align='middle'>Provide customer's age, salary and monthly income in rupees!</h2>
    </div>

    <div class="container">
        <h4 align="middle" style="text-align: center;">
            <form action="predictcount" method="get">
                <br>

                <label for="gender">Gender:</label>
                <input list="gender" name="gender">
                <datalist id="gender">
        <option value="Male" id="0">
        <option value="Female" id="1">
      </datalist>

                <br>
                <label for="age">Age:</label>
                <input type="text" id="age" name="age">

                <br>
                <label for="salary">Monthly Salary in rupees:</label>
                <input type="text" id="salary" name="salary"><br><br>




                <input type="submit" class="btn btn-success">
            </form>
        </h4>
    </div>
    <p align="middle">
        <button onclick="window.location.href='/app1/dashboard'" class="btn btn-danger">BACK</button>
    </p>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>